<div class="starRatingWrapper">
     <div class="starRating">


<span bo-if="x.starRating !== null" class="stars five-star" 
    ng-init="rating=x.starRating" role="text"
        aria-label="Rated 5 out of 5 stars"
             bo-class="{'one-star':rating==1,'two-star':rating==2,'three-star':rating==3,'four-star':rating==4,'five-star':rating==5,'one-and-half-star':rating==1.5,'two-and-half-star':rating==2.5,'three-and-half-star':rating==3.5,'four-and-half-star':rating==4.5}"> 
            
</span>
</div>
</div>

